
<h1>User schedule page</h1>
<p><%= @user.username %></p>

<% if @schedule.nil? || @schedule.empty? %>
  <p>User has no availability</p>
<% else %>
  <table>
    <tr>
      <th>Start</th>
      <th>End</th>
    </tr>

    <% @schedule.each do |entry| %>
      <tr>
        <td><%= entry.start_date %></td>
        <td><%= entry.end_date %></td>
      </tr>
    <% end %>
  </table>
<% end %>
